.Title-Screen {
  @media (-webkit-min-device-pixel-ratio: 1.25) {
    ...;
  }
  display: inline-block;
  text-align: center;
  width: 900px;
  border: 15px solidrgba(150, 113, 113);
  padding: 80px;
  margin: 400px;
  background: rgba(150, 113, 113, 0.6);
  border-radius: 47% 53% 50% 50% / 0% 0% 100% 100%;
}

/* body {
background-image: url("https://images.pexels.com/photos/5272995/pexels-photo-5272995.jpeg?cs=srgb&dl=pexels-julia-volk-5272995.jpg&fm=jpg");
background-position: center;
background-repeat: no-repeat;
background-size: auto;
} 
*/

img {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.Winner {
        @media (-webkit-min-device-pixel-ratio: 1.25) {
          ...;
        }
        display: inline-block;
        text-align: center;
        width: 900px;
        border: 15px solidrgba(150, 113, 113);
        padding: 80px;
        margin: 400px;
        background: rgba(150, 113, 113, 0.6);
        border-radius: 47% 53% 50% 50% / 0% 0% 100% 100%;
      
}

.Loser {
    
        @media (-webkit-min-device-pixel-ratio: 1.25) {
          ...;
        }
        display: inline-block;
        text-align: center;
        width: 900px;
        border: 15px solidrgba(150, 113, 113);
        padding: 80px;
        margin: 400px;
        background: rgba(150, 113, 113, 0.6);
        border-radius: 47% 53% 50% 50% / 0% 0% 100% 100%;
      
}

.hidden {
  display: none;
}

.Title-Text {
  font-size: 100px;
  margin-top: 100px;
  /*line-height: 4; */
  color: rgb(62, 6, 62);
}

h2 {
  font-size: 50px;
}

#wilbur {
    font-size: 25px;
}

.displayName {
  text-align: left;
}

.start-button {
    font-size: 50px;

}

#my-progress,
#my-awaken,
#my-evil {
  width: 100%;
  background-color: grey;
}

#my-bar {
  width: 10%;
  height: 30px;
  background-color: #04aa6d;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

#awaken-bar {
  width: 10%;
  height: 30px;
  background-color: #a5a117;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

#naughty-bar {
    width: 10%;
    height: 30px;
    background-color: #650b60;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
  }

form input {
  margin-bottom: 16px;
  outline: none;
}

.getpetname {
  font-size: 32px;
  text-align: center;
}

.petname {
  border: none;
  border-bottom: 2px solid var(--main-color);
  font-size: 32px;
  text-align: center;
  background-color: var(--bg);
  color: var(--main-color);
}


/* SANITY CHECK FOR CSS: CONFIRMED WORKING.
h1 {
    color: purple
}
*/
